.pokemons-list {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 20px;
    justify-content: space-between;
}

a {
    color: inherit;
    text-decoration: none;
    align-items: center;
    display: flex;
}

.pokemons-list__button {
    font-size: 16px;
    border-radius: 7px;
    padding: 10px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
}

.pokemons-list__button:hover {
    cursor: pointer;
    box-shadow: 0 0 10px #fff;
}