.header {
    display: flex;
    justify-content: space-between;
    height: 44px;
    display: flex;
    justify-content: space-between;
    height: 44px;
    width: 100%;
    margin: 20px 0px;
    gap: 10%;
    user-select: none;

    @media (max-width: 719px) {
        height: auto;
        flex-direction: column-reverse;
        gap: 20px;
    }

    @media (min-width: 1440px) {
        gap: 20%;
    }
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 500px;

    @media (max-width: 779px) {
        width: 50%;
    }

    @media (max-width: 1080px) {
        width: 70%;
    }
}

.logo-pokemon {
    height: 44px;
    display: flex;

    @media (max-width: 779px) {
        display: none;
    }

    @media (max-width: 1080px) {
        width: 70%;
    }
}

.logo-pokemon {
    height: 44px;
    display: flex;

    @media (max-width: 779px) {
        display: none;
    }
}

.pokemon-title {
    height: 44px;

    @media (max-width: 719px) {
        display: none;
    }
}

.pokemon-title {
    height: 44px;

    @media (max-width: 719px) {
        display: none;
    }
}